.frame{
    display: flex;

}

.img{
    position: relative;
}
.style{
    margin-bottom: 10rem;
}

.icon-list{
    display: flex;
    flex-direction: row;
}

img:hover{
    filter: opacity(80%);
    transition: 0.5s;
}

.up-right:hover{
    position: absolute;
    top: 598px;
    left: 46px;
}

.up-right{
    background-color: lightgray;
    position: relative;
    border-radius: 15px;
    font-size: 37px;
    transition-property: top, left;
    transition-duration: 5s;
    transition-delay: 0s;
}

.up-up:hover{
    position: absolute;
    top: 598px;
    left: 600px;
}

.up-up{
    background-color: lightgray;
    position: relative;
    border-radius: 300px;
    transition-property: top, left;
    transition-duration: 5s;
    transition-delay: 0s;
}

.dots{
    background-color: lightgray;
    position: relative;
    border-radius: 300px;
    transition-property: top, left;
    transition-duration: 5s;
    transition-delay: 0s;
}

.dots:hover{
    position: absolute;
    top: 598px;
    left: 420px;
}

*{
    box-sizing: border-box;
}